.Tabs{
    flex:1;
}

.Tabs:not(:last-child){
    margin-right: 8px;
}


.Tabs-selected {
    border-left: 10px solid greenyellow;
  }
  
  .Tabs-red {
    border-color: red;
  }
  
  .Tabs_cases-green {
    color: lightgreen !important;
  }
  
  .Tabs_cases {
    color: #ca3c56;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .Tabs_total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }