*{
  margin:0;
}

.App{
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;

}

.app_dropdown {
  background-color: white;
}

.left-part {
  flex: 0.9;
}


body{
  background-color: #f5f6fa;
}

.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_header > h1{
  color:rgb(233, 123, 123);
  font-size:40px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}


@media (max-width:990px){
  .App{
    flex-direction: column;
  }
}