*{
  margin:0;
}

.App{
  display: flex;
  justify-content: space-between;
  background-color: #f5f6fa;
  padding: 20px;

}

.app_dropdown {
 
  background-color: white;
  width:200px;
}

.description {
  width:100%;
  color:#6a5d5d !important;
  height:400px;

}


.left-part {
  margin-right:10px;
  flex: 0.3;
}

.center-part {
  flex: 0.3;
  margin-right:10px;
}

.right-part {
  flex: 0.4;
  margin-right:10px;
}


body{
  background-color: #f5f6fa;
}

.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.app_header > h1{
  color:rgb(233, 123, 123);
  font-size:40px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}


@media (max-width:990px){
  .App{
    flex-direction: column;
  }
}